<section class="main">
    <h1>Mobile App</h1>
    <ol class="services">
    <li>
        <div class="image right">
          <%=image_tag "prototype.png", :alt => "Prototype App" %>
        </div> <!-- image -->
        <h2>Prototype</h2>
        <p>
            To create a successful mobile application insufficiently simply an excellent idea. We must carefully think through the application. What are the functional and interface solutions are most appropriate for the task. To do this at an early stage of development we are preparing a prototype of application. This is an important process of development, since at this stage, we need to think about all screens of application, interaction and structure map of application. We use advanced tools for prototyping, which allows much to accelerate and simplify the process.
        </p>
    </li>
    <li>
        <div class="image left">
          <%=image_tag "ui.png", :alt => "Design UI UX" %>
        </div> <!-- image -->
        <h2>Design UI &amp; UX</h2>
        <p>
            Application design is not only a visual component to this process are also included user experience and interaction design. Design experience of interaction allows you to design an application which is really convenient to use. After that, we create the interface design and overall look of the application for user. We design the interface for the various resolutions, as well as various provisions of the device's screen.
        </p>
    </li>
    <li>
        <div class="image right">
          <%=image_tag "test.png", :alt => "Develop and Test" %>
        </div> <!-- image -->
        <h2>Develop &amp; Test</h2>
        <p>
            Our team is using Ajile methodologies for estimating and developing software. That allows us to effectively use the time for a flexible and rapid application development focusing on the needs of the market.
            An integral part of development is to test the application on real devices. This allows us to improve the quality of code and avoid any possible malfunctions of product in end-user devices.
        </p>
    </li>
    <li>
        <div class="image left">
          <%=image_tag "analytics.png", :alt => "Analytics in Your App" %>
        </div> <!-- image -->
        <h2>Analytics</h2>
        <p>
            Modern web development market has shown that without quality analysts can not estimate the amount and quality of traffic, and therefore maximum efficiency of product. The introduction of statistics in your mobile application will allow you to monitor the traffic of your application, as well as the most visited sections. We are ready to provide quality analytics in applications by integrating the statistics with Google Analytics.
        </p>
    </li>
    <li>
        <div class="image right">
          <%=image_tag "support.png", :alt => "Deployment &amp; Support" %>
        </div> <!-- image -->
        <h2>Deployment &amp; Support</h2>
        <p>
            Publication of mobile applications in the Android Market store and AppStore can receive additional benefits from the application. Among which the system of monetizing the application, the introduction of advertising, automatic updates, search and application availability wider audience of users. Real reviews left in Android Market and AppStore allow more accurate to respond the wishes and needs of users, which means even more to expand the audience and to popularize the application.
        </p>
    </li>
  </ol>
</section>
<%=render :partial => "shared/services_menu" %>