<section class="main">
    <h1>Mobile App</h1>
    <ol class="services">
    <li>
        <div class="image right">
          <%=image_tag "prototype.png", :alt => "Prototype App" %>
        </div> <!-- image -->
        <h2>Prototype App</h2>
        <p>
            This process is similar to the artist or graphic web designer in that application prototyping requires strong creative energies. To put together an entire storyboard of app screens takes time and patience. With the tools we use today the process is much quicker and simpler than ever before.
        </p>
    </li>
    <li>
        <div class="image left">
          <%=image_tag "ui.png", :alt => "Design UI UX" %>
        </div> <!-- image -->
        <h2>Design UI &amp; UX</h2>
        <p>
            This process is similar to the artist or graphic web designer in that application prototyping requires strong creative energies. To put together an entire storyboard of app screens takes time and patience. With the tools we use today the process is much quicker and simpler than ever before.
        </p>
    </li>
    <li>
        <div class="image right">
          <%=image_tag "test.png", :alt => "Develop and Test" %>
        </div> <!-- image -->
        <h2>Develop &amp; Test</h2>
        <p>
            This process is similar to the artist or graphic web designer in that application prototyping requires strong creative energies. To put together an entire storyboard of app screens takes time and patience. With the tools we use today the process is much quicker and simpler than ever before.
        </p>
    </li>
    <li>
        <div class="image left">
          <%=image_tag "analytics.png", :alt => "Analytics in Your App" %>
        </div> <!-- image -->
        <h2>Analytics in Your App</h2>
        <p>
            This process is similar to the artist or graphic web designer in that application prototyping requires strong creative energies. To put together an entire storyboard of app screens takes time and patience. With the tools we use today the process is much quicker and simpler than ever before.
        </p>
    </li>
    <li>
        <div class="image right">
          <%=image_tag "support.png", :alt => "Deployment &amp; Support" %>
        </div> <!-- image -->
        <h2>Deployment &amp; Support</h2>
        <p>
            This process is similar to the artist or graphic web designer in that application prototyping requires strong creative energies. To put together an entire storyboard of app screens takes time and patience. With the tools we use today the process is much quicker and simpler than ever before.
        </p>
    </li>
  </ol>
</section>
<%=render :partial => "shared/services_menu" %>