<header>
  <%=link_to root_path, :class => "logo" do %>
    <%=image_tag "logo.png", :alt => "CatWare" %>
  <% end %>
  <nav>
    <ul>
      <%=project_menu_item "Projects", projects_path %>
      <%=project_menu_item "Services", mobile_services_path %>
      <%=project_menu_item "Contacts", contacts_path %>
    </ul>
  </nav>
  <a href="https://catware.basecamphq.com/" target="_blank" class="client-login">Client Log In</a>
  <!--
  <div class="lang">
      <span class="current"><img src="images/us.png" alt="" /> <span>US</span></span>
      <ul>
          <li><a href="#"><img src="images/ru.png" alt="" /> RU</a></li>
          <li><a href="#"><img src="images/ua.png" alt="" /> UA</a></li>
      </ul>
  </div> -->
</header>
