<div class="group">
  <%=form.label :type_id, :class => "label" %>
  <%=form.error_message_on :type_id %>
  <%=form.select :type_id, Project.selected_types %>
  <span class="description">Ex: some project</span>
</div>
<div class="group">
  <%=form.label :title, :class => "label" %>
  <%=form.error_message_on :title %>
  <%=form.text_field :title, :class => "text_field" %>
  <span class="description">Ex: some project</span>
</div>
<div class="group">
  <%=form.label :project_name, :class => "label" %>
  <%=form.error_message_on :project_name %>
  <%=form.text_field :project_name, :class => "text_field" %>
  <span class="description">Ex: com.example.project_name</span>
</div>
<div class="group">
  <%=form.label :logo_img, :class => "label" %>
  <%=form.error_message_on :logo_img %>
  <% if form.object.logo_img? %>
    <%=image_tag form.object.logo_img.url(:thumb) %>
  <% end %>
  <%=form.file_field :logo_img %>
</div>
<div class="group">
  <%=form.label :icon, :class => "label" %>
  <%=form.error_message_on :icon %>
  <% if form.object.icon? %>
    <%=image_tag form.object.icon.url(:main) %>
  <% end %>
  <%=form.file_field :icon %>
</div>
<div class="group">
  <%=form.label :short_description, :class => "label" %>
  <%=form.error_message_on :short_description %>
  <%=form.text_area :short_description, :class => "text_area", :rows => 10, :cols => 25 %>
  <span class="description">Ex: text</span>
</div>
<div class="group">
  <%=form.label :full_description, :class => "label" %>
  <%=form.error_message_on :full_description %>
  <%=form.text_area :full_description, :class => "text_area", :rows => 20, :cols => 25 %>
  <span class="description">Ex: text</span>
</div>
<div class="group">
  <%=form.label :meta_keywords, :class => "label" %>
  <%=form.error_message_on :meta_keywords %>
  <%=form.text_field :meta_keywords, :class => "text_field" %>
  <span class="description">Ex: bla, bla-bla</span>
</div>
<div class="group">
  <%=form.label :meta_description, :class => "label" %>
  <%=form.error_message_on :meta_description %>
  <%=form.text_area :meta_description, :class => "text_area", :rows => 5, :cols => 25 %>
  <span class="description">Ex: text</span>
</div>
<hr />
<h3>Videos</h3>
<div id="media-list">
  <%= form.fields_for :media_videos, form.object.media_videos do |media_video| %>
    <div class="group">
      <%=media_video.label :type_id, :class => "label" %>
      <%=media_video.error_message_on :type_id %>
      <%=media_video.select :type_id, MediaVideo.selected_media_types %>
      <span class="description">Ex: some project</span>
    </div>
    <div class="group">
      <%=media_video.label :video_key, :class => "label" %>
      <%=media_video.error_message_on :video_key %>
      <%=media_video.text_field :video_key, :class => "text_field" %>
      <span class="description">Ex: some project</span>
    </div>
    <div class="group">
      <%=media_video.label :logo, :class => "label" %>
      <%=media_video.error_message_on :logo %>
      <% if media_video.object.logo? %>
        <%=image_tag media_video.object.logo.url(:thumb) %>
      <% end %>
      <%=media_video.file_field :logo %>
    </div>
    <% unless media_video.object.new_record? %>
      <div class="group">
        <%= media_video.check_box :_destroy %>
        <%= media_video.label :_destroy, 'Remove' %>
      </div>
    <% end %>
  <% end %>
</div>
<hr />
<h3>Screens</h3>
<div id="attach-list">
  <%= form.fields_for :media_attachments, form.object.media_attachments do |media_attachment| %>
    <div class="group">
      <%=media_attachment.label :media, :class => "label" %>
      <%=media_attachment.error_message_on :media %>
      <% if media_attachment.object.media? %>
        <%=image_tag media_attachment.object.media.url(:thumb) %>
      <% end %>
      <%=media_attachment.file_field :media %>
    </div>
    <% unless media_attachment.object.new_record? %>
      <div class="group">
        <%= media_attachment.check_box :_destroy %>
        <%= media_attachment.label :_destroy, 'Remove' %>
      </div>
    <% end %>
  <% end %>
</div>
<div class="group">
  <a href="#" id="attach-more">Add more images</a>
</div>
<hr />
<h3>Pdf files</h3>
<div id="attach-list">
  <%= form.fields_for :pdf_attachments, form.object.pdf_attachments do |pdf_attachment| %>
    <div class="group">
      <%=pdf_attachment.label :title, :class => "label" %>
      <%=pdf_attachment.error_message_on :title %>
      <%=pdf_attachment.text_field :title, :class => "text_field" %>
      <span class="description">Ex: some project</span>
    </div>
    <div class="group">
      <%=pdf_attachment.label :pdf, :class => "label" %>
      <%=pdf_attachment.error_message_on :pdf %>
      <% if pdf_attachment.object.pdf? %>
        <%=pdf_attachment.object.pdf_file_name %>
      <% end %>
      <%=pdf_attachment.file_field :pdf %>
    </div>
    <% unless pdf_attachment.object.new_record? %>
      <div class="group">
        <%= pdf_attachment.check_box :_destroy %>
        <%= pdf_attachment.label :_destroy, 'Remove' %>
      </div>
    <% end %>
  <% end %>
</div>
<hr />