<div class="block" id="block-tables">
  <div class="content">
    <h2 class="title">Projects</h2>
    <div class="inner">
      <table class="table">
       <tr>
          <th class="first">ID</th>
          <th>Title</th>
          <th>Type</th>
          <th class="last">&nbsp;</th>
        </tr>
        <% @projects.each do |project| %>
          <tr class="<%=cycle('odd', 'even')%>">
            <td><%=project.id%></td>
            <td><%=project.title%></td>
            <td><%=project.type_human%></td>
            <td class="last">
              <%=link_to "edit", edit_admin_project_path(project) %> | <%=link_to "delete", admin_project_path(project), :confirm => "Are you sure?", :method => :delete %>
            </td>
          </tr>
        <% end %>
      </table>
      <div class="actions-bar wat-cf">
        <div class="actions">
          <%=link_to "Add project", new_admin_project_path %>
        </div>
        <div class="pagination">
          <%= paginate @projects %>
        </div>
      </div>
    </div>
  </div>
</div>