<%= content_for(:title, @project.title) %>
<%= content_for(:meta_keywords, @project.meta_keywords) unless @project.meta_keywords.blank? %>
<%= content_for(:meta_description, @project.meta_description) unless @project.meta_description.blank? %>

<section class="main">
  <h1><%=@project.title%></h1>
  <div class="markdown padding_right_little">
    <%=raw(@project.full_description_markdown)%>
  </div>
  <div class="big_android">
    <% if @project.logo_img? %>
      <%=image_tag @project.logo_img.url(:main), :alt => @project.title, :class => "app-img" %>
    <% end %>
  </div>
  <ul class="screens">
    <li>
      <%=link_to @project.logo_img.url(:main) do %>
        <%=image_tag @project.logo_img.url(:thumb) %>
      <% end %>
    </li>
    <% @project.media_attachments.each do |media_attachment| %>
      <li>
        <%=link_to media_attachment.media.url(:medium) do %>
          <%=image_tag media_attachment.media.url(:thumb) %>
        <% end %>
      </li>
    <% end %>
  </ul>
</section>

<aside>
<% if @project.is_android? %>
  <p>
    <img class="qrcode" src="http://chart.apis.google.com/chart?cht=qr&chs=164x164&chl=market://details?id=<%=@project.project_name%>" alt="<%=@project.title%>" />
  </p>
  <p>
    <a href="https://market.android.com/details?id=<%=@project.project_name%>"><%=image_tag "market.png", :alt => "market"%></a>
  </p>
<% end %>
<p>
<% @project.pdf_attachments.each do |pdf_attachment| %>
  <%=link_to pdf_attachment.pdf.url, :class => "pdf", :target => "_blank" do %>
    <em><%=pdf_attachment.title%></em>
    <span><%=number_to_human_size(pdf_attachment.pdf_file_size)%></span>
  <% end %>
<% end %>
</p>
<% @project.media_videos.each do |media_video| %>
  <div class="promo video_block">
    <a href="#video_box<%=media_video.id%>" class="movie <%=media_video.human_type%>">
      <%=image_tag media_video.logo.url(:thumb), :alt => "promo"%>
      <span>promo</span>
    </a>
    <div style="display:none"> 
      <div id="video_box<%=media_video.id%>">
        <% if media_video.is_youtube? %>
          <div style="width:645px;height:515px;">
            <object type="application/x-shockwave-flash" width="640" height="510" data="http://www.youtube.com/v/<%=media_video.video_key%>&amp;rel=0">
              <param name="movie" value="http://www.youtube.com/v/<%=media_video.video_key%>&amp;rel=0">
              <param name="wmode" value="transparent">
              <param name="quality" value="high">
            </object>
          </div>
        <% elsif media_video.is_vimeo? %>
          <div style="width:430px;height:360px;">
            <object type="application/x-shockwave-flash" width="425" height="355" data="http://www.vimeo.com/moogaloop.swf?clip_id=<%=media_video.video_key%>&amp;server=www.vimeo.com&amp;fullscreen=1&amp;show_title=0&amp;show_byline=0&amp;show_portrait=0&amp;color=">
              <param name="movie" value="http://www.vimeo.com/moogaloop.swf?clip_id=<%=media_video.video_key%>&amp;server=www.vimeo.com&amp;fullscreen=1&amp;show_title=0&amp;show_byline=0&amp;show_portrait=0&amp;color=">
              <param name="wmode" value="transparent"><param name="quality" value="high">
            </object>
          </div>
        <% end %>
      </div>
    </div>
  </div> <!-- promo -->
<% end %>
</aside>
