<%= content_for(:title, @project.title) %>

<section class="main">
  <h1><%=@project.title%></h1>
  <div class="markdown padding_right_little">
    <%=raw(@project.full_description_markdown)%>
  </div>
  <div id="main_screen">
  <% if @project.logo_img? %>
    <%=image_tag @project.logo_img.url(:main), :alt => @project.title, :class => "app-img" %>
  <% end %>
  </div>
  <ul class="screens">
    <% @project.media_attachments.each do |media_attachment| %>
      <li>
        <%=link_to media_attachment.media.url(:medium) do %>
          <%=image_tag media_attachment.media.url(:thumb) %>
        <% end %>
      </li>
    <% end %>
  </ul>
</section>

<aside>
<% if @project.is_android? %>
  <p>
    <img class="qrcode" src="http://chart.apis.google.com/chart?cht=qr&chs=164x164&chl=market://details?id=<%=@project.project_name%>" alt="<%=@project.title%>" />
  </p>
  <p>
    <a href="https://market.android.com/details?id=<%=@project.project_name%>"><%=image_tag "market.png", :alt => "market"%></a>
  </p>
<% end %>
<p>
<a href="#" class="pdf">
<em>Руководство по использованию</em>
<span>PDF, 4 МБ</span>
</a>
</p>
<div class="promo">
<a href="#" class="movie">
<%=image_tag "movie.png", :alt => "промо-ролик"%>
<span>PopCorn промо-ролик</span>
</a>
</div> <!-- promo -->
</aside>
