<%= content_for(:title, @project.title) %>
<%= content_for(:meta_keywords, @project.meta_keywords) unless @project.meta_keywords.blank? %>
<%= content_for(:meta_description, @project.meta_description) unless @project.meta_description.blank? %>

<section class="main">
  <h1><%=@project.title%></h1>
  <div class="markdown padding_right_little">
    <%=raw(@project.full_description_markdown)%>
  </div>
  <div class="big_android">
  <% if @project.logo_img? %>
    <%=image_tag @project.logo_img.url(:main), :alt => @project.title, :class => "app-img" %>
  <% end %>
  </div>
  <ul class="screens">
    <% @project.media_attachments.each do |media_attachment| %>
      <li>
        <%=link_to media_attachment.media.url(:medium) do %>
          <%=image_tag media_attachment.media.url(:thumb) %>
        <% end %>
      </li>
    <% end %>
  </ul>
</section>

<aside>
<% if @project.is_android? %>
  <p>
    <img class="qrcode" src="http://chart.apis.google.com/chart?cht=qr&chs=164x164&chl=market://details?id=<%=@project.project_name%>" alt="<%=@project.title%>" />
  </p>
  <p>
    <a href="https://market.android.com/details?id=<%=@project.project_name%>"><%=image_tag "market.png", :alt => "market"%></a>
  </p>
<% end %>
<p>
<a href="#" class="pdf">
<em>Руководство по использованию</em>
<span>PDF, 4 МБ</span>
</a>
</p>
<% @project.media_videos.each do |media_video| %>
  <div class="promo">
    <a href="<%=media_video.video_url%>" class="movie">
      <%=image_tag media_video.logo.url(:thumb), :alt => "promo"%>
      <span>promo</span>
    </a>
  </div> <!-- promo -->
<% end %>
</aside>
