<div class="group">
  <%=form.label :email, :class => "label" %>
  <%=form.error_message_on :email %>
  <%=form.text_field :email, :class => "text_field" %>
  <span class="description">Ex: example@example.com</span>
</div>
<div class="group">
  <%=form.label :password, :class => "label" %>
  <%=form.error_message_on :password %>
  <%=form.password_field :password, :class => "text_field" %>
  <span class="description">Ex: ******</span>
</div>
<div class="group">
  <%=form.label :password_confirmation, :class => "label" %>
  <%=form.error_message_on :password_confirmation %>
  <%=form.password_field :password_confirmation, :class => "text_field" %>
  <span class="description">Ex: ******</span>
</div>