<div class="block" id="block-tables">
  <div class="content">
    <h2 class="title">Users</h2>
    <div class="inner">
      <table class="table">
       <tr>
          <th class="first">ID</th>
          <th>Email</th>
          <th class="last">&nbsp;</th>
        </tr>
        <% @users.each do |user| %>
          <tr class="<%=cycle('odd', 'even')%>">
            <td><%=user.id%></td>
            <td><%=user.email%></td>
            <td class="last">
              <%=link_to "edit", edit_admin_user_path(user) %> | <%=link_to "delete", admin_user_path(user), :confirm => "Are you sure?", :method => :delete %>
            </td>
          </tr>
        <% end %>
      </table>
      <div class="actions-bar wat-cf">
        <div class="actions">
          <%=link_to "Add user", new_admin_user_path %>
        </div>
        <div class="pagination">
          <%= paginate @users %>
        </div>
      </div>
    </div>
  </div>
</div>