<div class="block" id="block-login"> 
  <h2><%=t("defaults.signin", :default => "Signin")%></h2> 
  <div class="content login"> 
    <div class="flash"> 
      <% flash.each do |type, message| -%>
        <div class="message <%= type %>">
          <p><%= message %></p>
        </div>
      <% end -%>
    </div> 
    <%= form_for @user, :url => admin_signin_path, :html => { :class => "form login" } do |f| %>
      <div class="group wat-cf"> 
        <div class="left">
          <%=f.label :email, t(".email"), :class => "label right" %>
        </div> 
        <div class="right">
          <%=f.text_field :email, :class => "text_field" %>
        </div> 
      </div>
      <div class="group wat-cf"> 
        <div class="left"> 
          <%=f.label :password, t(".password"), :class => "label right" %>
        </div> 
        <div class="right"> 
          <%=f.password_field :password, :class => "text_field" %>
        </div> 
      </div> 
      <div class="group navform wat-cf"> 
        <div class="right"> 
          <%=f.submit t("defaults.signin", :default => "Signin"), :class => "button" %>
        </div> 
      </div> 
    <% end %>
  </div> 
</div> 