<!DOCTYPE html>
<html>
<head>
  <title><%=t("defaults.admin_header", :default => "Catware Admin Panel")%></title>
  <%= stylesheet_link_tag "admin" %>
  <%= javascript_include_tag "admin" %>
  <%= csrf_meta_tag %>
</head>
<body>
  <div id="container">
    <div id="header">
      <h1><%=link_to t("defaults.admin_header", :default => "Catware Admin Panel"), admin_root_path %></h1>
      <div id="user-navigation">
        <ul class="wat-cf">
          <li><%=link_to t("defaults.logout", :default => "Logout"), admin_logout_path, :class => "logout" %></li>
        </ul>
      </div>
      <div id="main-navigation">
        <ul class="wat-cf">
          <%=project_menu_item "Users", admin_users_path %>
        </ul>
      </div>
    </div>    
    <div id="wrapper" class="wat-cf">
      <div class="flash">
        <% flash.each do |type, message| -%>
          <div class="message <%= type %>">
            <p><%= message %></p>
          </div>
        <% end -%>
      </div>
      <div id="main">
        <%= yield %>
        <div id="footer">
          <div class="block">
            <p>Copyright &copy; <%= Time.now.year %> <%=t("defaults.admin_header", :default => "Catware Admin Panel")%>.</p>
          </div>      
        </div>
      </div>
      <div id="sidebar">
        <%= yield :sidebar %>
      </div>
    </div>    
  </div>
</body>
</html>
