<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
  <meta name="keywords" content="<%= content_for?(:meta_keywords) ? yield(:meta_keywords) : "Android, разработка для Android, приложение, разработка Android, Android приложение, Android приложения, разработка Android приложений, приложение для Android, Киев, Украина, мобильное приложение, разработка Android приложений, для Android, приложения для мобильных, разработка мобильных приложений" %>" />
  <meta name="description" content="<%= content_for?(:meta_description) ? yield(:meta_description) : "Catware - разработка мобильных приложений для Android" %>" />
  <link href="<%= asset_path 'favicon.ico' %>" rel="shortcut icon" type="image/x-icon" />
  <title><%= content_for?(:title) ? yield(:title) : "Catware" %></title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <!--[if lt IE 9]>
      <script src="http://ie7-js.googlecode.com/svn/version/2.1(beta4)/IE9.js" type="text/javascript"></script>
      <script src="http://ie7-js.googlecode.com/svn/version/2.1(beta4)/ie7-squish.js" type="text/javascript"></script>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
  <![endif]-->
</head>
<body>
<div class="page">
  <%=render :partial => "shared/top" %>
  <div class="flash">
    <% flash.each do |type, message| -%>
      <div class="message <%= type %>">
        <p><%= message %></p>
      </div>
    <% end -%>
  </div>
  <article class="content">
    <%= yield %>
  </article><!-- content -->
  <%=render :partial => "shared/bottom" %>
</div> <!-- page -->
</body>
</html>
